<!DOCTYPE HTML>
<html>
<head>
<title>Rough AJAX Test</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script>
    Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //月份 
        "d+" : this.getDate(),                    //日 
        "h+" : this.getHours(),                   //小时 
        "m+" : this.getMinutes(),                 //分 
        "s+" : this.getSeconds(),                 //秒 
        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
        "S"  : this.getMilliseconds()             //毫秒 
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
} 
</script>
<script type="text/javascript" charset="utf-8">
    // function loadXMLDoc()
    // {
    //     var req = new XMLHttpRequest()
    //     req.onreadystatechange = function()
    //     {
    //         if (req.readyState == 4)
    //         {
    //             if (req.status != 200)
    //             {
    //                 //error handling code here
    //             }
    //             else
    //             {
    //                 var response = JSON.parse(req.responseText)
    //                 document.getElementById('myDiv').innerHTML += "<p>"+response.time+"</p>"+response.username+"<br>"
    //                 document.getElementById('scname').value = ''
    //             }
    //         }
    //     }
    
    //     req.open('POST', '/ajax')
    //     req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
    //     var time = new Date().format("yyyy-MM-dd hh:mm:ss")
    //     var un = document.getElementById('scname').value
    //     var postVars = 'username='+un+"&time="+time   //This is the request you send to the server
    //     req.send(postVars)
        
    //     return false
    // }
    $(document).ready(function() {
        var socket = io();
    })
</script>
</head>
<body>
    <p>Hello World!</p>
</body>