<!DOCTYPE HTML>
<html>
<head>
<title>log in</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io();

        $('form#register').submit(function(event) {
            //console.log(document.getElementById("scname").value);
            socket.emit('register', {'username': document.getElementById("username").value, 
            'password': document.getElementById("password").value, 
            'confirm': document.getElementById("confirm").value});
            return false;
        });

        socket.on('error', function(msg) {
            document.getElementById("error").innerHTML = "<h2>"+msg+"</h2>";
        });

        socket.on('success', function(msg) {
            document.getElementById("error").innerHTML = "";
            document.getElementById("success").innerHTML = "<h2>"+msg+"</h2>";
        });


    })
</script> -->
</head>

<body>
    <h1>Please register here!</h1>
    <form id='register' action='/register' method='POST'>
        Your username:<input type="text" name="username" id="username" required><br>
        Your password:<input type="password" name="password" id="password" required><br>
        confirm password:<input type="password" name="confirm" id="confirm" required><br>
        <input type="submit" value="register">
    </form>
    <div>
        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}
    </div>
    <form id='back' action='/' method='GET'>
        <input type="submit" value="back">
    </form>
    <div>
        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}
    </div>
</body>